
header {
    background-color: white;
    padding: 10px;
}

body {
    background: #bdbdbd;
    margin: 0;
}

.post {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}
div.post img{
    width: 100%;
}

.container {
    width: 600px;
    margin: auto;
    margin-top: 30px;
}